body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 0 auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.top-container {
  background-color: #E4F6F6;
  padding-bottom: 220px;
  padding-top: 125px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  margin: auto;
  width: 50%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.profile-row {
  line-height: 2;
  margin: 30px auto 150px auto;
  width: 50%;
}

.skill-row {
  margin: 30px auto 100px auto;
  text-align: center;
  width: 50%;
}

.skill-img {
  margin: auto auto;
  width: 30%;
}

.skill-description {
  margin: 50px auto;
  width: 50%;
}

.skill-score {
  margin: auto;
  text-align: left;
  width: 70%;
}

.education-row {
  line-height: 2;
  margin: 30px auto 100px auto;
  width: 50%;
}

.education-img {
  margin: auto auto;
  width: 30%;
}

.education-description {
  margin: 50px 0 auto 180px;
  text-align: left;
  width: 70%;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 70px;
  width: 6%;
}

.bottom-cloud {
  bottom: 490px;
  left: 380px;
  position: absolute;
  width: 6%;
}

.mountain {
  margin: 100px auto auto auto;
}

.contact-message {
  margin: 40px auto 40px;
  width: 35%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
